@font-face {
    font-family: 'Icon';
    src: url('../Fonts/SEGOEICONS.TTF') format('truetype');
}

* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    margin: 0;
    padding: 0;
    overflow: clip;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#editor {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: calc(100% - 30px);
    line-height: 20px;
    clip-path: rect(0 100% 100% 0);
    transition: all ease 0.5s;
    box-shadow: 5px 0px 3px -5px #000000c4 inset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#render {
    position: absolute;
    top: 30px;
    left: 0;
    width: 50%;
    height: calc(100% - (60px + 30px));
    transition: width ease 0.5s;
    z-index: -10;
}

.actions {
    display: flex;
    position: absolute;
    height: 30px;
    width: 100%;
    background: rgb(68, 78, 93);
    align-items: center;
}

.actions div {
    display: flex;
    margin-left: 4px;
    height: 24px;
    width: 70px;
    background: #ffffff20;
    border-radius: 4px;
    border: 1px gray solid;
    transition: background 100ms;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px black;
}

.actions div:hover {
    background: #00000083;
}

.actions div:active {
    background: #00000020;
}

.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 50%;
}

.controls-btns {
    display: flex;
    height: calc(100% - 20px);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#playBtn {
    position: absolute;
    font-family: Icon;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeline {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    left: 0;
    background: #ffe9e989;
    outline: none;
    margin: 0;
    top: 100%;
    /*transform: translateY(-100%);*/
    box-shadow: 0 0 3px #0000005e inset;
    border-radius: 2px;
}

#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 10px;
    height: 100%;
    background: #ff3232;
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 2px;
    transition: all ease .2s;
    box-shadow: 0 0 2px #0000005e;
}

#timeline::-webkit-slider-thumb:hover {
    width: 15px;
    height: calc(100% + 5px);
    border-radius: 4px;
    background: #ff6464;
}

#timeline:focus {
    border: solid #0000005e 1px;
}

.bruh {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    background-color: #4d85ff70;
    color: #fff;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    transition: width ease 0.5s;
    backdrop-filter: blur(2px);
}

.bruh div {
    width: 100%;
}

.time-line {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    background-color: #4d85ff70;
    color: #fff;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    transition: width ease 0.5s;
    backdrop-filter: blur(2px);
}

.time-line>input[type='range'] {
    position: relative;
    width: calc(100% - 10px);
    left: 5px;
}

.a1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

#offset {
    width: 50px;
}

#music {
    width: 100px;
}

#bgm-time {
    width: 100px;
    font-family: monospace;
}

.imgs {
    display: none;
}

#collapse {
    width: 50px;
    height: 80%;
    transform: translateY(10%);
    background-color: #ffffff7b;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 2px 3px 0 #0000005e;
}

textarea {
    resize: none;
}

.dropdownlist {
    position: absolute;
    top: 30px;
    width: 200px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdownlist ul {
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    background: #00000083;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 4px #0000005e;
}

.dropdownlist ul li {
    background: #00000000;
    color: white;
    list-style-type: none;
    padding: 5;
    margin: 3px;
    border-radius: 5px;
    text-shadow: 0 2px 5px black;
    transition: all 100ms;
}

.dropdownlist ul li:hover {
    background: #4d505a;
    text-shadow: 0 0 3px white;
}