@font-face {
    font-family: 'Icon';
    font-style: normal;
    src: url('../Fonts/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Handwriting';
    src: url('../Fonts/Handlee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'combo';
    src: url('../Fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@media (max-aspect-ratio: 1/1) {

    /* 當 vw < vh，也就是畫面偏「高」時 */
    .my-element {
        background: red;
    }
}

@media (min-aspect-ratio: 1/1) {

    /* 當 vw >= vh，也就是畫面偏「寬」時 */
    .my-element {
        background: blue;
    }
}

* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    margin: 0;
    padding: 0;
    overflow: clip;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: lightgray;
}

#editor {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: calc(100% - 30px);
    line-height: 20px;
    clip-path: rect(0 100% 100% 0);
    /*transition: all ease 0.5s;*/
    box-shadow: 5px 0px 3px -5px #000000c4 inset;
    font-family: monospace;
    font-size: 12px;
    border: none;
    color: white;
    background: #232323;
}

#render {
    position: absolute;
    top: 30px;
    left: 0;
    width: 50%;
    height: 100%;
    transition: width ease 0.5s;
    z-index: -10;
}

#audioRender {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 50%;
    height: 40px;
    transition: width ease 0.5s;
    z-index: -10;
}

.actions {
    display: flex;
    position: absolute;
    height: 30px;
    width: 100%;
    background: rgb(68, 78, 93);
    align-items: center;
}

.actions div {
    display: flex;
    margin-left: 4px;
    height: 24px;
    width: 70px;
    background: #ffffff20;
    border-radius: 4px;
    transition: background 100ms;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

.actions div:hover {
    background: #00000083;
}

.actions div:active {
    background: #00000020;
}

.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 50%;
}

.controls-btns {
    padding-top: 40px;
    display: flex;
    height: calc(100% - 40px);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to top, #000000aa, #00000000 90%, #00000060 100%);
}

.controls-btns>div {
    background: #00000000;
    font-family: Icon;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 20px;
    backdrop-filter: blur(8px);
    color: white;
    width: 50px;
    height: 25px;
    box-shadow: 0 1px 3px #00000080;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.controls-btns>div:hover {
    background: #00000020;
    box-shadow: 0 1px 2px #00000080, 0 0 1px #0000005e inset;
}

.controls-btns>div:active {
    background: #aaa;
    box-shadow: 0 0 1px #00000080, 0 0 2px black inset;
}

#timeline {
    position: absolute;
    bottom: 46px;
    left: 50%;
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    height: 12px;
    background: #ffe9e989;
    outline: none;
    margin: 0;
    transform: translateX(-50%) translateY(50%);
    box-shadow: 0 0 3px #0000005e inset, 0 1px 3px #0000005e;
    border-radius: 2px;
    box-sizing: initial;
}

#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 12px;
    height: 100%;
    background: #ff3232;
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 2px;
    transition: all ease .2s;
    box-shadow: 0 0 2px #0000005e;
}

#timeline::-webkit-slider-thumb:hover {
    width: calc(12px + 5px);
    height: calc(100% + 5px);
    border-radius: 4px;
    background: #ff6464;
}

#timeline:focus {
    border: solid #aaa 1px;
}

#customMenu {
    color: #fff;
    position: absolute;
    display: none;
    background: #232323;
    border: 1px solid #444;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 50%);
    z-index: 1000;
}

#customMenu>div {
    margin: 3px;
    padding: 6px;
    min-width: 100px;
    font-size: 12px;
    border-radius: 3px;
}

#customMenu>div:hover {
    background: rgba(255, 255, 255, 0.188)
}

.imgs {
    display: none;
}

#collapse {
    width: 50px;
    height: 80%;
    transform: translateY(10%);
    background-color: #ffffff7b;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 2px 3px 0 #0000005e;
}

textarea {
    resize: none;
}

.dropdownlist {
    position: absolute;
    top: 30px;
    width: 200px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdownlist ul {
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    background: #232323;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 4px #0000005e;
}

.dropdownlist ul li {
    background: #00000000;
    color: white;
    list-style-type: none;
    padding: 5;
    margin: 3px;
    border-radius: 5px;
    text-shadow: 0 1px 2px black;
    transition: all 100ms;
}

.dropdownlist ul li:hover {
    background: #4d505a;
    /*text-shadow: 0 0 3px white;*/
}

#settings-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 5px;
    border: none;
}

.setting-field {
    margin-bottom: 10px;
    display: flex;
    /* 或者其他佈局方式 */
    align-items: center;
    /* 垂直居中 */
    justify-content: space-between;
}

.setting-field label {
    margin-right: 10px;
    min-width: 200px;
    /* 讓標籤寬度一致，方便對齊 */
    display: inline-block;
}

.setting-field input[type="number"] {
    width: 80px;
    /* 或其他合適的寬度 */
}